/*preloader*/
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 99999;
}

.preloader .item {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}


body {
    font-family: 'Open Sans', sans-serif;
}

/*icon*/
.step i {
      -webkit-transition: opacity .3s;
      -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
      -o-transition: opacity .3s;
      transition: opacity .3s;
    }

    .step:hover i {
        opacity: 1; 
    }
    
    .size-12 { font-size: 12px; }
    .size-14 { font-size: 14px; }
    .size-16 { font-size: 16px; }
    .size-18 { font-size: 18px; }
    .size-21 { font-size: 21px; }
    .size-24 { font-size: 24px; }
    .size-32 { font-size: 32px; }
    .size-48 { font-size: 48px; }
    .size-64 { font-size: 64px; }
    .size-96 { font-size: 96px; }
    
h1,h2,h3,h4,h5,h6 {
    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 36px;
    color: #212020;
}

h2 {
    font-size: 30px;
    color: #212020;
    margin-top: 0px;
}

h3 {
    font-size: 24px;
    line-height: 34px;
    color: #212020;
    margin-top: 0px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
    margin-bottom: 20px;
}

h6 {
    font-size: 16px;
    margin: 0;
}

.hr-large {
    color: #184d5a;
    border: 3px solid  #184d5a;
    width: 30%;
    margin-left: 0;
}

p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

.italic{
    color: #184d5a;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-style: italic;
}

a {
    color: #184d5a;
}

a:hover,
a:active,
a:focus{
    color: #202835;
}


/* button */

.btn-rounded {
    background: #184d5a;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 10px 0px;
    width: 170px;
    color: #fff;
    border: 3px solid #184d5a ;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    
}

.btn-rounded:hover {
    background: #202835;
    font-family: 'Josefin Sans', sans-serif;
    width: 170px;
    color: #fff;
    border: 3px solid #202835 ;
}

.btn-border {
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 10px 0px;
    width: 170px;
    color: #fff;
    border: 3px solid #fff ;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.btn-border:hover,
.btn-border:active,
.btn-border:focus
{
    background: #202835;
    font-family: 'Josefin Sans', sans-serif;
    width: 170px;
    color: #fff!important;
    border: 3px solid #202835 ;
    
}

/* start-page */
#start-page {
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url('../img/background/header.jpg') #c0c0c0 bottom center fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#start-page .text-header {
    background: rgba(33, 32, 32, 0.3);
    width: 100%;
    padding-bottom: 30px;
    height: auto;
}

#start-page .text-header h1 {
    padding-top: 50px;
    font-weight: 400;
}

#start-page .text-header .decoration {
    text-decoration: none;
    color: #fff;
}

#start-page .text-header .decoration:hover {
    color: #202835;
}

#start-page .text-header p {
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.themes{
    background: #f3f3f3;
    padding: 100px 0;
    width: 100%;
}

.themes img{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

#start-page .text-header h1,
#start-page .text-header h3{
    color: #fff;
}

.themes img:hover{
    opacity: 0.5;
}


.themes .demo-title{
    text-align: center;
}

.demo-title {
    padding-bottom: 100px;
}

/*footer*/
footer {
    background: #222;
    padding-top: 50px;
}

footer h2,
footer h5,
footer h6,
footer p{
    color: #fff;

}

footer .col-md-12 {
    text-align: center;
} 




/* RESPONSIVE-------------------------*/

@media (min-width: 320px) {

    
/*footer*/
    footer .col-md-3{
        padding: 110px 30px;
    }
    
    
}



@media (min-width: 580px) {

    
/*footer*/
    footer .col-md-3{
        padding: 40px 30px;
    }
    
    
}



/* Medium devices */

@media (min-width: 768px) {
/*navbar*/
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 50px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

/*footer*/
    footer .col-md-3{
        padding: 40px 0;
    }
    
    
}



/* Medium devices */

@media (min-width: 992px) {

    
/*footer*/
    footer .col-md-3{
        padding: 15px 15px;
    }
}



/* Large devices */

@media (min-width: 1200px) {


/*footer*/
    footer .col-md-3{
        padding: 15px 15px;
    }
}


/* Large devices min-width (1200px) + a .post margin (50px) * 2 (100px) = 1300px */
/* 1300px gives me the clearance I need to keep the margins of the entire #grid (the
bleed if you will) the same width as the .post margins posts (50px). Basically I'm
being really picky about whitespace. If you don't care, no problem, just delete this.
Can this be done with Masonry options? */

@media (min-width: 1300px) {

    
/*footer*/
    footer .col-md-3{
        padding: 15px 15px;
    }
}