.settings,
.setting-btn{
    transition: all 0.3s ease;
}

.settings,
.setting-btn {
    background: #222;
    position: fixed;
    left: -230px;
    top: 250px;
    height: auto;
    width: 230px;
    overflow: hidden;
    border-radius: 6px;
}

.settings.show {
    left: 0
}

.settings h4 {
    padding-bottom: 10px;
}

.setting-btn {
    border-radius: 0;
    top: 215px;
    left: 0;
    background: #222;
    color: #fff;
    font-size: 21px;
    padding-left: 8px;
    margin-bottom: 8px;
    height: 45px;
    width: 45px;
    border-radius: 6px;
    cursor: pointer;
}

.settings h4,
.settings p {
    color: #fff;
    margin: 20px 0 0
}

.settings .default {
    background: #184d5a;
    border-radius: 6px;
    padding: 10px 15px;
    width: 20px;
}

.settings .default:hover,
.settings .default:focus,
.settings .default:active {
    background: #202835;
}

.settings .green {
    background: #8BC34A;
    border-radius: 6px;
    padding: 10px 15px;
    width: 20px;
}

.settings .green:hover,
.settings .green:focus,
.settings .green:active {
    background: #689F38;
}

.settings .light-blue {
    background: #00c7fc;
    border-radius: 6px;
    padding: 10px 15px;
    width: 20px;
}

.settings .light-blue:hover,
.settings .light-blue:focus,
.settings .light-blue:active {
    background: #009dc7;
}

.settings .orange {
    background: #fb6816;
    border-radius: 6px;
    padding: 10px 15px;
    width: 20px;
}

.settings .orange:hover,
.settings .orange:focus,
.settings .orange:active {
    background: #c64a05;
}

.settings .red {
    background: #e8826e;
    border-radius: 6px;
    padding: 10px 15px;
    width: 20px;
}

.settings .red:hover,
.settings .red:focus,
.settings .red:active {
    background: #b64848;
}

.settings .yellow {
    background: #fed136;
    border-radius: 6px;
    padding: 10px 15px;
    width: 20px;
}

.settings .yellow:hover,
.settings .yellow:focus,
.settings .yellow:active {
    background: #e3b517;
}