/*preloader*/
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 99999;
}

.preloader .item {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}


body {
    font-family: 'Open Sans', sans-serif;
}

/*icon*/
.step i {
      -webkit-transition: opacity .3s;
      -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
      -o-transition: opacity .3s;
      transition: opacity .3s;
    }

    .step:hover i {
        opacity: 1; 
    }
    
    .size-12 { font-size: 12px; }
    .size-14 { font-size: 14px; }
    .size-16 { font-size: 16px; }
    .size-18 { font-size: 18px; }
    .size-21 { font-size: 21px; }
    .size-24 { font-size: 24px; }
    .size-32 { font-size: 32px; }
    .size-48 { font-size: 48px; }
    .size-64 { font-size: 64px; }
    .size-96 { font-size: 96px; }
    
h1,h2,h3,h4,h5,h6 {
    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 36px;
    color: #000;
}

h2 {
    font-size: 30px;
    color: #000;
    margin-top: 0px;
}

h3 {
    font-size: 24px;
    line-height: 34px;
    color: #000;
    margin-top: 0px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
    margin-bottom: 20px;
}

h6 {
    font-size: 16px;
    margin: 0;
}

.hr-large {
    color: #184d5a;
    border: 3px solid  #184d5a;
    width: 30%;
    margin-left: 0;
}

p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

.italic{
    color: #184d5a;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-style: italic;
}

a {
    color: #184d5a;
}

a:hover,
a:active{
    color: #202835;
}


/* button */

.btn-rounded {
    background: #184d5a;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 10px 0px;
    width: 170px;
    color: #fff;
    border: 3px solid #184d5a ;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    
}

.btn-rounded:hover,
.btn-rounded:focus,
.btn-rounded:active{
    background: #202835;
    font-family: 'Josefin Sans', sans-serif;
    width: 170px;
    color: #fff;
    border: 3px solid #202835 ;
}

.btn-border {
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 10px 0px;
    width: 170px;
    color: #fff;
    border: 3px solid #fff ;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.btn-border:hover,
.btn-border:active,
.btn-border:focus{
    background: #202835;
    font-family: 'Josefin Sans', sans-serif;
    width: 170px;
    color: #fff;
    border: 3px solid #202835 ;
    
}

/*navbar*/
.navbar-default {
    border-color: transparent;
    background-color: #202835;
}

.navbar-default .navbar-brand {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #202835;
}

.navbar-default .navbar-collapse {
    border-color: rgba(33,32,32,.02);
}

.navbar-default .navbar-toggle {
    border-color: #184d5a;
    background-color: #184d5a;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #184d5a;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #202835;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #202835;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #202835;
}

/* start-page */
#start-page {
    position: relative;
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url('../img/background/pesonal.jpg') #c0c0c0 bottom center fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#start-page .text-header {
    background: rgba(33, 32, 32, 0.3);
    width: 100%;
    height: auto;
}

#start-page .text-header h1 {
    padding-top: 50px;
    font-weight: 400;
}

#start-page .text-header .decoration {
    text-decoration: none;
    color: #fff;
}

#start-page .text-header .decoration:hover {
    color: #202835;
}

#start-page .text-header p {
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 20px;
}


/* about */
.about {
    padding-bottom: 100px;
}


.title {
    text-align: center;
    padding: 100px 0px 50px 0px;
    
    
}

.blockquote {
    background: #184d5a;
    margin-right: 15px;
    width: 10px;
    height: 70px;
    float: left;
}

.quote p {
    text-align: justify;
    margin-bottom: 30px;
}

.themes-view {
    height: 302px;
    margin: 0px auto;
    z-index: 0;
    position: absolute;
    width: 100%;
    background: url("../img/mac.png") no-repeat scroll center 0% transparent;
}

.screenshot {
    width: 389px;
    height: 243px;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}

.item img {    
    margin-top: 20px;
}

#galery {    
    padding-bottom: 100px;
    background: #f3f3f3;
}

.post img { 
    width: 100%;
}


#grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	text-align: center;
    margin: 15px 0px;
}

#grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#grid figure figcaption::before,
#grid figure figcaption::after {
	pointer-events: none;
}

#grid figure figcaption,
#grid figure figcaption > .action {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


#grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

#grid figure h2,
#grid figure p {
	margin: 0;
}

#grid figure p {
	letter-spacing: 1px;
}

#grid.container .post img { 
    padding: 0; 
}

/* effect-sadie */
figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	opacity: 0;
    background:rgba(24, 77, 90, 0.6);
	background:rgba(24, 77, 90, 0.6);
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 70%;
	left: 0;
	width: 100%;
	opacity: 0;
    color: #202835;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p  {
	position: absolute;
	top: 60%;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie .action {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
} 

figure.effect-sadie .action  {
	position: absolute;
    bottom: 20%;
	left: 0;
	padding: 2em;
    color: #fff;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie a>i {
    color: #fff;
}

figure.effect-sadie a>i:hover {
    color: #202835;
    cursor: pointer;
}

figure.effect-sadie:hover h2 {
    
    opacity: 1;
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover .action {
    text-decoration: none;
    color: #fff;
	opacity: 1;
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


.view-more {
    padding-top: 50px;
    text-align: center;
}

/* support */
.support {
    padding-bottom: 100px;
}

.circle {
    text-align: center;
    cursor: pointer;
    border: 2px rgba(182, 72, 72, 0);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.circle:hover{
    border: 2px solid #202835;
}

.circle hr {
    border-bottom: 2px solid #000;
    width: 30%;
    text-align: center;
}

.img-circle {
    margin: 50px 0px 50px 0px;
    width: 180px;
    text-align: center;
}


/* testimonial */
#testimonial {
    position: relative;
    text-align: center;
    padding-bottom: 100px;
    width: 100%;
    height: 100%
    z-index: 10;
    background: url('../img/background/personal2.jpg') #c0c0c0 bottom center fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

blockquote {
    border-left: none;
}

#testimonial .carousel .carousel-indicators {
    bottom: -60px;
}

#testimonial .carousel .carousel-indicators li,
#testimonial .carousel .carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 1px;
}
#testimonial .carousel blockquote {
    margin: 0;
    padding: 0;
    min-height: 250px;
}
#testimonial .carousel blockquote img {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 100px;
    border: 2px solid #fff;
}
#testimonial .carousel blockquote p {
    font-size: 18px;
}
#testimonial .carousel blockquote small,
#testimonial .carousel blockquote .small {
    font-size: 18px;
    font-weight: 300;
}
#testimonials .carousel blockquote small:before,
#testimonials .carousel blockquote .small:before {
    content: '';
}
#testimonial .carousel blockquote a {
    color: #184d5a;
}
#testimonial .carousel blockquote a:hover {
    color: #202835;
    text-decoration: underline;
}

/*blog*/

#blog {
    background: #f3f3f3;
    padding-bottom: 100px;
}

#blog .thumbnail {
    border-radius: 0;
    border: 0;
    border-bottom: 5px solid  #184d5a;
    margin-bottom: 0;
}

#blog .thumbnail:hover {
    border: 1px solid #184d5a;
}

#blog .col-md-3,
#blog .col-md-6 {
    padding: 5px;
}

.caption small a {
    margin: 0px 5px;
}

.caption .post-comment i {
    margin: 0 10px;
}

.caption h3>a {
    color: #000;
}

.caption h3>a:hover {
    color: #202835;
    text-decoration: none;
}

/*contact*/
#contact {
    position: relative;
    padding-bottom: 100px;
    width: 100%;
    height: 100%
    z-index: 10;
    background: url('../img/background/pesonal3.jpg') #c0c0c0 bottom center fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contact .title h1,
#contact .title p{
    color: #000;
}
#contact .add li{
    vertical-align: top;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

#contact .phone li{
    vertical-align: top;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

#contact .mail li{
    vertical-align: top;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

#contact .form-control {
    border-radius: 25px;
    background: rgba(33, 32, 32, 0.3);
    margin: 20px 0;
    
}
/*footer*/
footer {
    background: #000;
    padding-top: 50px;
}

footer .col-md-3 {
    padding-bottom: 30px;
}

footer h2,
footer h5,
footer h6,
footer p{
    color: #fff;

}

footer .media {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    float: left;
    margin: 5px 5px;
    opacity: 0.6;
}

footer .media:hover {
    opacity: 1;
}

footer .social-comment .media {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 4px;
    float: left;
    opacity: 0.6;
}

footer .social-comment .media-body {
    padding-bottom: 20px;
}

footer small {
    color: #fff;
}


footer .form-control,
footer .btn-rounded-input{
    border-radius: 25px;
}

footer .btn-rounded-input{
    color: #fff;
    background: #184d5a;
}

footer .btn-rounded-input:hover{
    color: #fff;
    background: #202835;
}


footer .social-media {
    margin-top: 20px;
}

footer .social-media a {
    margin: 0 10px;
    color: #fff;
}

footer .social-media a:hover {
    text-decoration: none;
    color: #202835;
}


footer .col-md-12 {
    text-align: center;
} 
footer .img-footer {
    width: 100px;
}

.totop{
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 30px;
    border: 2px solid #184d5a;
    color: #184d5a;
    width: 30px;
    line-height: 0;
    text-align: center;
    border-radius: 6px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.totop.active{
   opacity: 1
}

/* RESPONSIVE-------------------------*/

@media (max-width: 320px) {

    /*about*/
    #about .col-md-5 {
        
        padding: 50px 0px;
    }
    
    #about .col-md-6 {
        padding: 50px 0px;
    }
    
    
/*contact*/
    #contact .col-md-6  {
        padding-bottom: 50px;
    }
    
    #contact .col-md-4  {
        padding-bottom: 110px;
    }
    
/*footer*/
    footer .col-md-3 {
        padding-bottom: 30px;
        clear: both;
        overflow: hidden;
    }
    
    
}



@media (min-width: 580px) {

    /*about*/
    #about .col-md-5 {
        
        padding: 50px 0px;
    }
    
    #about .col-md-6 {
        padding: 50px 0px;
    }

    
/*contact*/
    #contact .col-md-6  {
        padding-bottom: 50px;
    }
    
    #contact .col-md-4  {
        padding-bottom: 110px;
    }
    
/*footer*/
   footer .col-md-3 {
        overflow: hidden;
    }
    
    
}



/* Medium devices */

@media (min-width: 768px) {
/*navbar*/
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 50px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #000;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
    /*about*/
    #about .col-md-5 {
        
        padding: 50px 0px;
    }
    
    #about .col-md-6 {
        padding: 50px 0px;
    }
    
/*galery*/
    
	.post img { 
        padding: 0; 
    }
    
    #support .col-md-4 {
        padding-bottom: 50px;
    }
    
/*contact*/
    #contact .col-md-6  {
        padding-bottom: 50px;
    }
    
    #contact .col-md-4  {
        padding-bottom: 110px;
    }
    
/*footer*/
    footer .col-md-3 {
        overflow: hidden;
    }
    
}



/* Medium devices */

@media (min-width: 992px) {

    
/*contact*/
    #contact .col-md-4  {
        padding: 0;
    }
    
/*footer*/
    footer .col-md-3 {
        overflow: hidden;
    }
}



/* Large devices */

@media (min-width: 1200px) {

    
/*contact*/
    #contact .col-md-4  {
        padding: 0;
    }
    
/*footer*/
    footer .col-md-3 {
        overflow: hidden;
    }
}


/* Large devices min-width (1200px) + a .post margin (50px) * 2 (100px) = 1300px */
/* 1300px gives me the clearance I need to keep the margins of the entire #grid (the
bleed if you will) the same width as the .post margins posts (50px). Basically I'm
being really picky about whitespace. If you don't care, no problem, just delete this.
Can this be done with Masonry options? */

@media (min-width: 1300px) {

/*contact*/
    #contact .col-md-4  {
        padding: 0;
    }
    
/*footer*/
    footer .col-md-3 {
        overflow: hidden;
    }
}