/*
Default Green = #8BC34A
Active Green = #689F38
Opacity Green = rgba(139, 195, 74, 0.6)
*/


.hr-large {
    color: #8BC34A;
    border: 3px solid #8BC34A;
}

.italic {
    color: #8BC34A;
}

a {
    color: #8BC34A;
}

a:hover,
a:active {
    color: #689F38;
}

.btn-rounded {
    background: #8BC34A;
    border: 3px solid #8BC34A;
}

.btn-rounded:hover,
.btn-rounded:active,
.btn-rounded:focus{
    background: #689F38;
    border: 3px solid #689F38;
}

.btn-border:hover,
.btn-border:active,
.btn-border:focus {
    background: #689F38;
    border: 3px solid #689F38;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,{
    color: #689F38;
}

.navbar-default .navbar-toggle {
    border-color: #8BC34A;
    background-color: #8BC34A;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #8BC34A;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #689F38;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #689F38;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #689F38;
}

.btn-rounded-sm {
    background: #689F38;
    border: 3px solid #8BC34A;
    
}

.btn-rounded-sm:hover,
.btn-rounded-sm:focus,
.btn-rounded-sm:active{
    background: #689F38;
    border: 3px solid #689F38;
}


.md-content {
	background:rgba(139, 195, 74, 0.8)
}

#start-page .text-header .decoration:hover {
    color: #689F38;
}

.blockquote {
    background: #8BC34A;
}


.presentation i {
    color: #8BC34A;
}


#grid figure {
    background: #689F38;
}
/* effect-sadie */

figure.effect-sadie figcaption::before {
    background: rgba(139, 195, 74, 0.6);
}

figure.effect-sadie h2 {
    color: #689F38;
}

figure.effect-sadie a>i:hover {
    color: #689F38;
}


.our-team .text {
    background: #689F38;

}

.social-media a:hover,
.social-media a:focus,
.social-media a:active{
    color: #8BC34A;

}


.circle:hover {
    border: 2px solid #689F38;
}

#testimonial .carousel blockquote a {
    color: #8BC34A;
}

#testimonial .carousel blockquote a:hover {
    color: #689F38;
}

.pricing .tabel img{
    border: 10px solid  #8BC34A;
}

#blog .thumbnail {
    border-bottom: 5px solid #8BC34A;
}

#blog .thumbnail:hover {
    border: 1px solid #8BC34A;
}

.caption h3>a:hover {
    color: #689F38;
}

footer .btn-rounded-input {
    background: #8BC34A;
}

footer .btn-rounded-input:hover {
    background: #689F38;
}

footer .social-media a:hover {
    color: #689F38;
}

.totop{
    border: 2px solid #689F38;
    color: #689F38;

}

.totop.active{
    color: #689F38;
}