/*
Default Yellow = #fed136
Active Yellow = #e3b517
Opacity Yellow = rgba(227, 181, 23, 0.6)
*/

.hr-large {
    color: #fed136;
    border: 3px solid #fed136;
}

.italic {
    color: #fed136;
}

a {
    color: #fed136;
}

a:hover,
a:active {
    color: #e3b517;
}

.btn-rounded {
    background: #fed136;
    border: 3px solid #fed136;
}
.btn-rounded:hover,
.btn-rounded:active,
.btn-rounded:focus{
    background: #e3b517;
    border: 3px solid #e3b517;
}

.btn-border:hover,
.btn-border:active,
.btn-border:focus {
    background: #e3b517;
    border: 3px solid #e3b517;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #e3b517;
}

.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #e3b517;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #e3b517;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #e3b517;
}

.btn-rounded-sm {
    background: #e3b517;
    border: 3px solid #fed136;
    
}

.btn-rounded-sm:hover,
.btn-rounded-sm:focus,
.btn-rounded-sm:active{
    background: #e3b517;
    border: 3px solid #e3b517;
}
.md-content {
	background:rgba(227, 181, 23, 0.8);
}

#start-page .text-header .decoration:hover {
    color: #e3b517;
}

.blockquote {
    background: #fed136;
}


.presentation i {
    color: #fed136;
}


#grid figure {
    background: #e3b517;
}
/* effect-sadie */

figure.effect-sadie figcaption::before {
    background: rgba(227, 181, 23, 0.6);
}

figure.effect-sadie h2 {
    color: #e3b517;
}

figure.effect-sadie a>i:hover {
    color: #e3b517;
}

.our-team .text {
    background: #fed136;

}

.social-media a:hover,
.social-media a:focus,
.social-media a:active{
    color: #e3b517;

}


.circle:hover {
    border: 2px solid #e3b517;
}

#testimonial .carousel blockquote a {
    color: #fed136;
}

#testimonial .carousel blockquote a:hover {
    color: #e3b517;
}

.pricing .tabel img{
    border: 10px solid  #fed136;
}

#blog .thumbnail {
    border-bottom: 5px solid #fed136;
}

#blog .thumbnail:hover {
    border: 1px solid #fed136;
}

.caption h3>a:hover {
    color: #e3b517;
}

footer .btn-rounded-input {
    background: #fed136;
}

footer .btn-rounded-input:hover {
    background: #e3b517;
}

footer .social-media a:hover {
    color: #e3b517;
}

.totop{
    border: 2px solid #e3b517;
    color: #e3b517;

}

.totop.active{
    color: #e3b517;
}