/*
Default Green = #184d5a;
Active Green = #202835;
Opacity Green = rgba(24, 77, 90, 0.6);
*/


.hr-large {
    color: #184d5a;
    border: 3px solid #184d5a;
}

.italic {
    color: #184d5a;
}

a {
    color: #184d5a;
}

a:hover,
a:active {
    color: #202835;
}

.btn-rounded {
    background: #184d5a;
    border: 3px solid #184d5a;
}

.btn-rounded:hover,
.btn-rounded:active,
.btn-rounded:focus{
    background: #202835;
    border: 3px solid #202835;
}

.btn-border:hover,
.btn-border:active,
.btn-border:focus {
    background: #202835;
    border: 3px solid #202835;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,{
    color: #202835;
}

.navbar-default .navbar-toggle {
    border-color: #184d5a;
    background-color: #184d5a;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #184d5a;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #202835;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #202835;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #202835;
}

.btn-rounded-sm {
    background: #202835;
    border: 3px solid #184d5a;
    
}

.btn-rounded-sm:hover,
.btn-rounded-sm:focus,
.btn-rounded-sm:active{
    background: #202835;
    border: 3px solid #202835;
}


.md-content {
	background:rgba(24, 77, 90, 0.8);
}

#start-page .text-header .decoration:hover {
    color: #202835;
}

.blockquote {
    background: #184d5a;
}


.presentation i {
    color: #184d5a;
}


#grid figure {
    background: #202835;
}
/* effect-sadie */

figure.effect-sadie figcaption::before {
    background: rgba(24, 77, 90, 0.6);
}

figure.effect-sadie h2 {
    color: #202835;
}

figure.effect-sadie a>i:hover {
    color: #202835;
}


.our-team .text {
    background: #202835;

}

.social-media a:hover,
.social-media a:focus,
.social-media a:active{
    color: #184d5a;

}


.circle:hover {
    border: 2px solid #202835;
}

#testimonial .carousel blockquote a {
    color: #184d5a;
}

#testimonial .carousel blockquote a:hover {
    color: #202835;
}

.pricing .tabel img{
    border: 10px solid  #184d5a;
}

#blog .thumbnail {
    border-bottom: 5px solid #184d5a;
}

#blog .thumbnail:hover {
    border: 1px solid #184d5a;
}

.caption h3>a:hover {
    color: #202835;
}

footer .btn-rounded-input {
    background: #184d5a;
}

footer .btn-rounded-input:hover {
    background: #202835;
}

footer .social-media a:hover {
    color: #202835;
}

.totop{
    border: 2px solid #202835;
    color: #202835;

}

.totop.active{
    color: #202835;
}