/*
Default red = #e8826e;
Active red = #b64848;
Opacity red = rgba(182, 72, 72, 0.6);
*/

.hr-large {
    color: #e8826e;
    border: 3px solid #e8826e;
}

.italic {
    color: #e8826e;
}

a {
    color: #e8826e;
}

a:hover,
a:active {
    color: #b64848;
}

.btn-rounded {
    background: #e8826e;
    border: 3px solid #e8826e;
}

.btn-rounded:hover,
.btn-rounded:active,
.btn-rounded:focus{
    background: #b64848;
    border: 3px solid #b64848;
}

.btn-border:hover,
.btn-border:active,
.btn-border:focus {
    background: #b64848;
    border: 3px solid #b64848;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #b64848;
}

.navbar-default .navbar-toggle {
    border-color: #e8826e;
    background-color: #e8826e;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #e8826e;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #b64848;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #b64848;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #b64848;
}

.btn-rounded-sm {
    background: #b64848;
    border: 3px solid #e8826e;
    
}

.btn-rounded-sm:hover,
.btn-rounded-sm:focus,
.btn-rounded-sm:active{
    background: #b64848;
    border: 3px solid #b64848;
}
.md-content {
	background:rgba(182, 72, 72, 0.8);
}


#start-page .text-header .decoration:hover {
    color: #b64848;
}

.blockquote {
    background: #e8826e;
}


.presentation i {
    color: #e8826e;
}


#grid figure {
    background: #b64848;
}
/* effect-sadie */

figure.effect-sadie figcaption::before {
    background: rgba(182, 72, 72, 0.6);
}

figure.effect-sadie h2 {
    color: #b64848;
}

figure.effect-sadie a>i:hover {
    color: #b64848;
}

.our-team .text {
    background: #e8826e;

}

.social-media a:hover,
.social-media a:focus,
.social-media a:active{
    color: #b64848;

}

.circle:hover {
    border: 2px solid #b64848;
}

#testimonial .carousel blockquote a {
    color: #e8826e;
}

#testimonial .carousel blockquote a:hover {
    color: #b64848;
}

.pricing .tabel img{
    border: 10px solid  #e8826e;
}

#blog .thumbnail {
    border-bottom: 5px solid #e8826e;
}

#blog .thumbnail:hover {
    border: 1px solid #e8826e;
}

.caption h3>a:hover {
    color: #b64848;
}

footer .btn-rounded-input {
    background: #e8826e;
}

footer .btn-rounded-input:hover {
    background: #b64848;
}

footer .social-media a:hover {
    color: #b64848;
}

.totop{
    border: 2px solid #b64848;
    color: #b64848;

}

.totop.active{
    color: #b64848;
}