/*
Default Orange = #fb6816
Active Orange = #c64a05
Opacity Orange = rgba(251, 104, 22, 0.6)
*/

.hr-large {
    color: #fb6816;
    border: 3px solid #fb6816;
}

.italic {
    color: #fb6816;
}

a {
    color: #fb6816;
}

a:hover,
a:active {
    color: #c64a05;
}

.btn-rounded {
    background: #fb6816;
    border: 3px solid #fb6816;
}

.btn-rounded:hover,
.btn-rounded:active,
.btn-rounded:focus{
    background: #c64a05;
    border: 3px solid #c64a05;
}

.btn-border:hover,
.btn-border:active,
.btn-border:focus {
    background: #c64a05;
    border: 3px solid #c64a05;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #c64a05;
}

.navbar-default .navbar-toggle {
    border-color: #fb6816;
    background-color: #fb6816;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fb6816;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #c64a05;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #c64a05;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #c64a05;
}

.btn-rounded-sm {
    background: #c64a05;
    border: 3px solid #fb6816;
    
}

.btn-rounded-sm:hover,
.btn-rounded-sm:focus,
.btn-rounded-sm:active{
    background: #c64a05;
    border: 3px solid #c64a05;
}
.md-content {
	background:rgba(251, 104, 22, 0.8);
}

#start-page .text-header .decoration:hover {
    color: #c64a05;
}

.blockquote {
    background: #fb6816;
}


.presentation i {
    color: #fb6816;
}


#grid figure {
    background: #c64a05;
}
/* effect-sadie */

figure.effect-sadie figcaption::before {
    background: rgba(251, 104, 22, 0.6);
}

figure.effect-sadie h2 {
    color: #c64a05;
}

figure.effect-sadie a>i:hover {
    color: #c64a05;
}

.our-team .text {
    background: #fb6816;

}

.social-media a:hover,
.social-media a:focus,
.social-media a:active{
    color: #c64a05;

}


.circle:hover {
    border: 2px solid #c64a05;
}

#testimonial .carousel blockquote a {
    color: #fb6816;
}

#testimonial .carousel blockquote a:hover {
    color: #c64a05;
}

.pricing .tabel img{
    border: 10px solid  #fb6816;
}

#blog .thumbnail {
    border-bottom: 5px solid #fb6816;
}

#blog .thumbnail:hover {
    border: 1px solid #fb6816;
}

.caption h3>a:hover {
    color: #c64a05;
}

footer .btn-rounded-input {
    background: #fb6816;
}

footer .btn-rounded-input:hover {
    background: #c64a05;
}

footer .social-media a:hover {
    color: #c64a05;
}

.totop{
    border: 2px solid #c64a05;
    color: #c64a05;

}

.totop.active{
    color: #c64a05;
}