/*
Default light-blue = #00c7fc
Active light-blue = #009dc7
Opacity light-blue = rgba(0, 199, 252, 0.6)
*/


.hr-large {
    color: #00c7fc;
    border: 3px solid #00c7fc;
}

.italic {
    color: #00c7fc;
}

a {
    color: #00c7fc;
}

a:hover,
a:active {
    color: #009dc7;
}

.btn-rounded {
    background: #00c7fc;
    border: 3px solid #00c7fc;
}

.btn-rounded:hover,
.btn-rounded:active,
.btn-rounded:focus {
    background: #009dc7;
    border: 3px solid #009dc7;
}

.btn-border:hover,
.btn-border:active,
.btn-border:focus {
    background: #009dc7;
    border: 3px solid #009dc7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #009dc7;
}

.navbar-default .navbar-toggle {
    border-color: #00c7fc;
    background-color: #00c7fc;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #00c7fc;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #009dc7;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #009dc7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #009dc7;
}

.btn-rounded-sm {
    background: #009dc7;
    border: 3px solid #00c7fc;
    
}

.btn-rounded-sm:hover,
.btn-rounded-sm:focus,
.btn-rounded-sm:active{
    background: #009dc7;
    border: 3px solid #009dc7;
}
.md-content {
	background:rgba(0, 199, 252, 0.8);
}

#start-page .text-header .decoration:hover {
    color: #009dc7;
}

.blockquote {
    background: #00c7fc;
}


.presentation i {
    color: #00c7fc;
}


#grid figure {
    background: #009dc7;
}
/* effect-sadie */

figure.effect-sadie figcaption::before {
    background: rgba(0, 199, 252, 0.6);
}

figure.effect-sadie h2 {
    color: #009dc7;
}

figure.effect-sadie a>i:hover {
    color: #009dc7;
}

.our-team .text {
    background: #00c7fc;

}

.social-media a:hover,
.social-media a:focus,
.social-media a:active{
    color: #009dc7;

}


.circle:hover {
    border: 2px solid #009dc7;
}

#testimonial .carousel blockquote a {
    color: #00c7fc;
}

#testimonial .carousel blockquote a:hover {
    color: #009dc7;
}

.pricing .tabel img{
    border: 10px solid  #00c7fc;
}

#blog .thumbnail {
    border-bottom: 5px solid #00c7fc;
}

#blog .thumbnail:hover {
    border: 1px solid #00c7fc;
}

.caption h3>a:hover {
    color: #009dc7;
}

footer .btn-rounded-input {
    background: #00c7fc;
}

footer .btn-rounded-input:hover {
    background: #009dc7;
}

footer .social-media a:hover {
    color: #009dc7;
}

.totop{
    border: 2px solid #009dc7;
    color: #009dc7;

}

.totop.active{
    color: #009dc7;
}